body {
  background-color: gold;
}

img {
  height: 150px;
  width: 150px;
}

h1 {
  color:azure;
  font-size: 50px;
  text-align: center;
   
}

h2 {
  color: blue
}

p {
  font-size:25px ;
  
}

ul {
  font-size: 25px;
}

ol {
  font-size: 25px;
}
